.img__wrap {
    position: relative;
}

.img__description_layer {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(239, 239, 240, 0.8);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    /* transition effect. not necessary */
    transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
}

.img__description {
    transition: 0.2s;
    transform: translateY(1em);
    color: black;
    font-weight: bold;
}

.img__wrap:hover .img__description {
    transform: translateY(0);
}
